<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<style>

@media print {
    .myDivToPrint {
        background-color: white;
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        left: 30;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}
    #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

</style>
<script> 
var myVar;
function loadingScreen() {
  myVar = setTimeout(showPage, 2000);
}
function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("page-top").style.display = "block";
}
  function printDiv() { 
            var divContents = document.getElementById("printMe").innerHTML; 
            var a = window.open('', '', 'height=500, width=500'); 
            a.document.write('<html>'); 
            a.document.write('<body > <h1>Jambo Maternity Clinic </h1> <br>'); 
            a.document.write(divContents); 
            a.document.write('</body></html>'); 
            a.document.close(); 
            a.print(); }
</script>

		<title>Almost-Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	
<body onload="loadingScreen()">
    <div id="loader"></div>
    <div id="page-top" style="display:none;" class="animate-bottom">
		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/profile" class="logo">Almost-Website</a>
				<nav class="right">
					<a href="/auth/logout" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/profile">Home</a></li>
					
				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
				<section id="one" class="wrapper">
					<div class="inner flex flex-3">
						<div class="flex-item left">
							<div>
								<h3></h3>
								<p></p>
							</div>
							<div>
								<h3></h3>
								<p><br /> </p>
							</div>
						</div>
						<div class="flex-item image fit round">
							<img src="<%= user._picture %>" alt="picture" />
						</div>
						<div class="flex-item right">
							<div>
								<h3></h3>
								<p></p>
							</div>
							<div>
								<h3><%= user._name %></h3>
								<p>officially lands into<br /> the Almost-Website.</p>
							</div>
						</div>
					</div>
				</section>
<section id="banner1">
				<div class="content">
					<h1>Take a look at employee list</h1>
					<p>to see all employees.</p>
					<ul class="actions">
						<li><a href="/profile/employee" class="button scrolly">Employee List</a></li>
					</ul>
					<h1>Take a look at department  list</h1>
					<p>to see all departments.</p>
					<ul class="actions">
						<li><a href="/profile/department" class="button scrolly">Department List</a></li>
					</ul>
					<h1>Take a look at employee department list</h1>
					<p>employees and their departments.</p>
					<ul class="actions">
						<li><a href="/profile/employeedept" class="button scrolly">Employee Department List</a></li>
					</ul>
					<h1>Take a look at salary list</h1>
					<p>of the employees whose salary is bigger than the one who carries the id of 135.</p>
					<ul class="actions">
						<li><a href="/profile/salary" class="button scrolly">Salary List</a></li>
					</ul>
				</div>
			</section>
		<!-- One -->
		

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>About Us</h2>
					<figure>
					    <blockquote>
					        "Deployed with the help of Merhamdin Umbukan, Christian Talo and Gabriel Dalisay."
					    </blockquote>
					    <footer>
					        <cite class="author">Web Dev 2</cite>
					        <cite class="company">University of Immaculate Conception, 2020</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
</div>
	</body>
</html>